html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar-brand {
    color: palegreen;
    font-family: cursive;
    font-size: 1.5rem;
}

    .navbar-brand:hover {
        color: palegreen;
    }

.active {
    color: darkorange !important;
}


.main {
    min-height: 550px;
}

.preview-image {
    height:100px;
    width: 200px;
}

.hidden {
    display: none;
}

.table-wrapper {
    width:100%;
    overflow: auto;
}