@model ClipShare.ViewModels.Channel.ChannelAddEdit_vm

@if (string.IsNullOrEmpty(Model.Name) || Model.Errors.Count > 0)
{
    <p>You don't have any channels yet. Use the form bellow to create your channel.</p>
    <form asp-action="CreateChannel" class="mt-2">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" type="text" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="About" class="form-label"></label>
                    <textarea asp-for="About" rows="6" class="form-control"></textarea>
                    <span asp-validation-for="About" class="text-danger"></span>
                </div>
                <button class="btn btn-success" type="submit">Create</button>
            </div>
        </div>
    </form>
}
else
{
    <p>Name: @Model.Name</p>
    <p>About: @Model.About</p>
}