<div class="alert alert-dismissible alert-danger">
    <strong>Access Denied!</strong>
    <p>You are not authorized to view this page!</p>
</div>

<a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="Index">Home</a>